.intro {
  .m-lead {
    padding-bottom: 0%;
  }
}

.suGender {
  .m-lead {
    background-image: image-url("sugender.jpg");
  }
}

.fusion {
  .m-lead {
    background-image: image-url("alexandrite.jpg");
  }
}

.representation {
  .m-lead {
    background-image: image-url("beach-gang.jpg");
  }
}