---
title: Shawna Sullivan Writes Things
about: fusion
---

<div class="<%= current_page.data.about %>">
  <div class="m-article">
    <div class="m-lead">
    </div>
    <div class="m-content-container">
      <div class="m-content">
        <div class="m-title">
          <h1>Fusion is a Choice</h1>
          <h2>by Shawna Sullivan</h2>
        </div>

        <div class="trigger">
          <p>Trigger warning: This contains discussion of assault and violence below. As well as that recurring landmine of feels and spoilers.</p>
        </div>

        <p>I’m about to throw some very discouraging and disturbing statistics your way.</p>

        <p>Undoubtedly one of the most important conversations to be had surrounds consent; you consent to be touched, you consent to being in a relationship, you consent to NSFW activities, you consent to pretty much all aspects of your life. Consent is important, it&rsquo;s what makes us human, the ability to choose to engage is our free will. When consent is not present we are dehumanized and reduced to objects that are acted upon. This can be a very heavy topic, particularly as approximately 20% of women in the United States have experienced rape and 50% report experiencing sexual violence. 1 in 5 men will experience sexual violence other than rape and roughly 30% of men were raped prior to age 10. These numbers grow higher as the individual is in a marginalized group. For example, the National Violence Against Women Survey discovered that 34% of Native American women had experienced sexual assault. A 2009 study revealed that 50% of transgender individuals experience sexual violence with 10% occurring in a healthcare setting.</p>

        <p>I say all of this to place an emphasis on how important it is to teach, particularly children, about mandatory consent. In Steven&rsquo;s world fusion, or the amalgam of two or more Gems to create one being, is held in the highest regard. I will not equate fusion with sex because I don&rsquo;t think that&rsquo;s what it represents. I believe fusion represents the act of engaging in an important relationship. We are repeatedly shown throughout the show that the more healthy the relationship between the Gem participants and in the presence of consent, the more stable the fusion is. Garnet explains this to Steven on several occasions; she is the product of Ruby and Sapphire&rsquo;s love and healthy relationship, they consent to being fused, and thus she is able to stay fused for long periods of time.</p>

      </div>

      <%= image_tag 'sugilite.png' %>

      <div class="m-content">

        <div class="block-quote">
          <p>&ldquo;These gems weren't asked permission. Fusion is a choice, those gems weren't given a choice. It isn't right, it isn't fusion!&rdquo;</p>
        </div>

        <p>Garnet shouts these iconic words in &ldquo;Keeping it Together&rdquo; after discovering that Homeworld had forced shattered Gems to fuse without their consent. The image of her fallen friends forced into horrific fusions without their consent almost causes Garnet to un-fuse. A lack of consent, and tricking someone into giving consent fall under the same category. A recent episode, &ldquo;Cry for Help&rdquo; and subsequently &ldquo;Keystone Motel&rdquo;, highlighted this important point. Garnet and Pearl fused to form the lovely Sardonyx only for Garnet to discover that Pearl had tricked her into believing that they needed to fuse. When Garnet learns this she is horrified and outraged, in &ldquo;Keystone Motel&rdquo; she un-fuses due to the emotional turmoil she is experiencing. Ruby shouts that she feels used at having been tricked into fusing without her true consent. You cannot lie to obtain consent, honesty is the only way that consent can be valid.</p>

        <p><b>Consent isn’t permanent.</b></p>

        <p>If someone gives you consent to something once, that doesn&rsquo;t mean you get life long dibs. That person has the free will to revoke their consent at any time and you don&rsquo;t get to whine about it. Every single time a fusion is performed on Steven Universe, the participating Gems give some form of consent.</p>

        <p>We do not need to talk to 10 year olds about sexual violence statistics in order to teach them about consent. When children understand the fundamental aspects of consent vs. non-consent, and how important consent and respect are, there is no need to expose them to shock value programming. Steven Universe manages to have real discussions about consent that both children and adults can appreciate.</p>

        <%= image_tag 'cookie-cat.png' %>

      </div>
    </div>
  </div>
</div>