---
title: Shawna Sullivan Writes Things
about: suGender
---

<div class="<%= current_page.data.about %>">
  <div class="m-article">
    <div class="m-lead">
    </div>
    <div class="m-content-container">
      <div class="m-content">
        <div class="m-title">
          <h1>Let’s Talk GEM(der)</h1>
          <h2>by Shawna Sullivan</h2>
        </div>

        <p>So what is gender identity? Gender identity refers to an individual&rsquo;s personal association of belonging to a certain gender group (or none at all). Typically in Western society gender is viewed in a binary; either male or female and often associated with their biological genitalia. However this fails to capture all of the nuances that exist within humanity, thus a gender spectrum is more appropriate. Non-binary gender exists throughout the world, expanding across different cultures and continents throughout history. In the United States, our society teaches children from the time they are born that they must fit in either the &ldquo;boy&rdquo; or the &ldquo;girl&rdquo; category. We give them pink or blue toys and clothing, all in an attempt to ensure they conform to our pre-defined gender binary. Steven Universe helps to smash our so-called gender boxes.</p>

        <p>While some of the characters use she/her pronouns and may &ldquo;present&rdquo; as women, all gems with the exception of Steven are genderless and refer to themselves in the terms they choose. As well as the agender aspect, multiple Gems can become one entity through the process of &ldquo;fusion&rdquo;. Side note: fusion is an adorable dance sequence wherein the Gems get their groove on and turn into a giant ball of light, it&rsquo;s glorious. </p>

        <div class="quote-left">
          <p>At one point Steven fuses with his human friend Connie to become Stevonnie.</p>
        </div>

        <p>At one point Steven fuses with his human friend Connie to become Stevonnie. Stevonnie is non-binary; one of the writers for the show tweeted that the correct pronouns for Stevonnie are they/them. Not once is Stevonnie mocked for their gender identity, instead they are celebrated. Stevonnie walks into the Donut Shop where Lars and Sadie find themselves with a serious case of the feels for Stevonnie. </p>

      </div>

      <%= image_tag 'ls.jpg' %>

      <div class="m-content">

        <p>We find no crass discussion on what genitals they could possibly have, a rather disturbing fixation in Western society. There&rsquo;s actually very little focus on gender in Steven Universe which is a refreshing break from the constant stream of gender-binary rhetoric children receive from much of society.</p>

        <div class="quote-right">
          <p>At one point Steven fuses with his human friend Connie to become Stevonnie.</p>
        </div>

        <p>Steven Universe also touches upon concepts of gender expression. The term gender expression refers to the ways in which individuals externally communicate their gender identity to others through things like clothing, voice, and other forms of appearance. Some individuals may not choose to match their gender expression to the &ldquo;typical&rdquo; norm for their gender identity. Jasper is presented as one of the main villains for the Crystal Gems to fight. She is a homeworld Gem who holds a major grudge against Rose Quartz/Steven. While Rebecca Sugar has confirmed that Jasper uses she/her pronouns, her gender expression is not what society associates with &ldquo;women&rdquo;. Jasper has a lower, rough voice as well as an extremely large and muscular body shape, nothing about her gender expression is &ldquo;feminine&rdquo;. Again, Steven and the team make no mention of this and the show never takes time to question whether it matters if her gender expression falls in line with the standards for her gender identity, Jasper is simply accepted as a pretty badass villain. </p>

        <p>Overall the show allows children to understand something as complex as gender by simply providing representation in a way that is not sexualized or criticized by others in the Steven Universe world.  </p>

        <%= image_tag 'cbf.jpg' %>

      </div>
    </div>
  </div>
</div>