---
title: Shawna Sullivan Writes Things
about: gender_roles
---

<div class="<%= current_page.data.about %>">
  <div class="m-article">
    <div class="m-lead">
    </div>
    <div class="m-content-container">
      <div class="m-content">
        <div class="m-title">
          <h1>Gender Roles</h1>
          <h2>by Shawna Sullivan</h2>
        </div>

        <p><b>It&rsquo;s Dr. and MR. Maheswaran.</b></p>

        <p>The concept of masculinity, at least in the United States, is a result of our patriarchal society. What many non-feminists do not seem to realize is that this notion of masculinity is inherently toxic for men. They are raised in a culture that socializes them to be afraid to express and feel emotions. Instead anger, violence, and stoic silence are revered. This lack of emotional expression and awareness is harmful to childhood development. </p>

        <div class="quote-left">
          <p><i>Steven Universe</i> boasts a diverse range of girl characters fighting, exploring emotions, and blasting gender roles</p>
        </div>

        <p>We start with Steven himself, he&rsquo;s a young boy who isn&rsquo;t afraid to love things that aren&rsquo;t traditionally &ldquo;masculine&rdquo;. Steven is passionate about everything, he loves cute and fluffy things, his favorite show is Crying Breakfast Friends, he dislikes violence, and is seen crying on numerous occasions. Steven is an important role model for young boys showing that they can be emotional and like things other than sports and cars and violence. Steven isn&rsquo;t the only depiction of a male character falling outside of gender roles; Greg Universe and virtually every other guy on the show are emotionally developed (with the exception of Onion and let&rsquo;s be honest is he anything more than pure evil?).</p>

        <%= image_tag 'stevens-reaction.jpg' %>

        <p>On top of dispelling toxic masculinity traditions, <i>Steven Universe</i> boasts a diverse range of girl characters fighting, exploring emotions, and blasting gender roles. For children, a critical girl character is Connie Maheswaran. Society views girls and women as emotional and physically/emotionally weak as well as having a tendency to sexualize girls from a very young age. Connie is strong, she&rsquo;s assertive and smart, and she has helped get Steven out of trouble on several occasions. She is even seen learning sword fighting from Pearl in &ldquo;Sworn to the Sword&rdquo; as a way to help keep Steven safe. Connie and Steven are a team and she is never depicted as anything other than important, vital, and strong. </p>

        <p>Connie as an assertive young girl is crucial because of the way assertive women are treated in America. An assertive man is shown in a positive, confident light. Whereas most assertive women and girls are called &ldquo;bossy&rdquo;. This double-standard is not present in <i>Steven Universe</i>. Looking to a particular situation in the episode &ldquo;Full Disclosure&rdquo;, Steven avoids talking to Connie for fear of upsetting her with the danger he&rsquo;s been in. Connie demands that he speaks with her and she voices her frustrations in an assertive way. Connie shows girls that they can demand respect and communication and be confident in themselves without the typical &ldquo;bossy&rdquo; trope. </p>

        <div class="quote-right">
          <p><p>Connie shows girls that they can demand respect and communication and be confident in themselves without the typical &ldquo;bossy&rdquo; trope</p></p>
        </div>

        <p>The wonderful thing about having a vast number of women in a cast is that the writers can stay clear of a typical mistake made when shows feel they can only write &ldquo;strong&rdquo; women. <i> Steven Universe </i> writes <b> real </b> women. While Garnet, Amethyst, Pearl, Connie, etc are all strong women, they are also flawed and unique. These women aren&rsquo;t cookie cutter characters. Garnet is rash, Amethyst is reckless, and Pearl can be too focused on imperfections. This is important for showing young girls that there are countless different ways that they can be strong.  </p>

        <p>Smashing gender roles starts with younger generations and the cast of <i> Steven Universe</i> provides wonderful characters who show children that women can be assertive and men can be emotional. </p>

      </div>

      <%= image_tag 'connie-post-kiss.jpg' %>

    </div>
  </div>
</div>