---
title: Shawna Sullivan Writes Things
about: representation
---

<div class="<%= current_page.data.about %>">
  <div class="m-article">
    <div class="m-lead">
    </div>
    <div class="m-content-container">
      <div class="m-content">
        <div class="m-title">
          <h1>Representation</h1>
          <h2>by Shawna Sullivan</h2>
        </div>

        <p>On the heels of the United States Supreme Court&rsquo;s iconic marriage equality decision there&rsquo;s been a flood of support for LGBT+ community, usually in the form of a rainbow-tinted Facebook profile picture. However, we are still lacking important representation of LGBT+ relationships on television, especially while many consider them inherently too inappropriate for children&rsquo;s programming. Representation in the media is incredibly important for a wide number of reasons, not the least being that it provides important affirmation of identity and deconstructs the notion that heterosexual white cis-male is the default. In children&rsquo;s programming having that representation allows them to have someone to look up to and is important for shaping their sense of self as they grow.</p>

        <div class="quote-right">
          <p>Representation in the media is incredibly important</p>
        </div>

        <p><b>Enter Rebecca Sugar and <i>Steven Universe</i>.</b></p>

        <p>I could never contain my feels about Garnet, she is the protective and strong mom, always taking the time to indulge Steven while teaching him important lessons. Despite there being significant clues that Garnet was in fact a fusion, I was personally shocked when I saw the reveal in &ldquo;Jailbreak&rdquo;. Two adorable Gems, Ruby, the hot-headed warrior, and Sapphire, the serene psychic, were actually so in love that they chose to stay fused indefinitely as Garnet so they would always be together. I was hesitant to see if the writers would make their intentions clear with Ruby and Sapphires relationship, or if it would be reduced to theory in corners of the internet. All that we need to prove that Garnet is a product of Ruby and Sapphire&rsquo;s romantic love is this picture.</p>

      </div>

      <%= image_tag 'ruby-sapp.jpg' %>

      <div class="m-content">

        <p>But not only do we have that. Fans are show countless times through Garnet&rsquo;s words, Rebecca Sugar&rsquo;s comments, and Ruby and Sapphire&rsquo;s actions that this OTP (one true pair) is canon.</p>

        <p>The reveal of Pearl&rsquo;s feelings for Rose has been a slow burn. At first it appears as though Rose was her best friend, and that her &ldquo;death&rdquo; has hit Pearl the most. No. Then it hits you, Pearl has some very deep romantic feelings for Rose. A recent episode in the second Steven Bomb, &ldquo;We Need to Talk&rdquo;, makes it very clear that Pearl had strong romantic feelings towards Rose which Rose may or may not have returned before ending up with Steven&rsquo;s dad, Greg. Pearl is seen as incredibly jealous of Greg and Rose&rsquo;s relationship, a kind of jealousy that wouldn&rsquo;t be present if Pearl was simply Rose&rsquo;s &ldquo;best friend&rdquo; as some deniers have theorized. Greg makes it very clear that his intentions towards Rose are romantic and Pearl even tries to flaunt their ability to fuse as Rainbow Quartz to show him that she and Rose have a connection he could never have. Additionally in the recent episode &ldquo;Chille Tid&rdquo; we get to see Pearl&rsquo;s dreams, which, not surprisingly, are about her and Rose being together. So go ahead and tell me that Pearl just likes Rose in a friend kinda way, and I&rsquo;ll continue yelling from the top of the highest building that Pearl loves Rose in the romantic way and that is very important representation for LGBT+ youth. </p>

        <div class="quote-left">
          <p>Pearl loves Rose in the romantic way and that is very important representation for LGBT+ youth</p>
        </div>

        <p><b>Humans and Gems are diverse.</b></p>

        <p>Not a single one of the crystal gems looks the same, and that goes double for the human characters. Different races and body types are represented in Steven&rsquo;s world and everyone is treated equally. One common critique among feminists regarding cartoons is that the female characters are almost identical; representing standard beauty norms. Steven&rsquo;s mom, Rose Quartz, is the most revered character on the show and she is *gasp* plus size. Body shaming doesn&rsquo;t exist in the show and it is a welcome surprise. Additionally, among the main cast of voice actors only Steven is voiced by a white actor, leaving Garnet, Amethyst, and Pearl to be voiced by some supremely talented women of color.</p>

        <p><i>Steven Universe</i> isn&rsquo;t perfect, but it&rsquo;s certainly a hopeful beacon of representation in children&rsquo;s primetime programming.</p>

        <%= image_tag 'happy-garnet.jpg' %>

      </div>
    </div>
  </div>
</div>