*{
  @include vendor-prefix(transition, all .3s);
}

body {
  line-height: 1.75em;
  color: $default-font-color;
}

img,
video {
  width:100%;
}

hr {
  margin: 3em 0em;
  border: none;
  border-bottom: 1px solid $default-font-color;
}

a {
  font-family: $display;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  color: lighten($default-font-color,25%);
  &:hover {
    color: $default-font-color;
  }
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

.m-article {
  padding-bottom: 1em;
}

.m-lead {
  height: 0%;
  padding-bottom: 54%;
  background-size: cover;
}

.m-content-container {
  margin: 2.25% 0%;
  // position: relative;
  .m-content {
    width: 50%;
    margin: 0 auto;
    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 900px) {
      
    }
    @media (max-width: 600px) {
      width: 90%;
    }
  }
  .m-title {
    // position: absolute;
    // top: -14.5%;
  }
  img,
  video {
    margin: 2em 0em;
  }
  h1 {
    font-family: $display;
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
    line-height: 1em;
    margin-top: .65em;
    margin-bottom: .25em;
    @media (max-width: 900px) {
      font-size: 3em;
    }
    @media (max-width: 600px) {
      font-size: 2em;
    }
  }
  h2 {
    font-family: $display;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 2em;
    @media (max-width: 900px) {
      font-size: 1em;
    }
  }
  p {
    font-family: $main;
    font-size: 1em;
    margin-bottom: 1em;
  }
}

.trigger {
  background-color: lighten($red,10%);
  color: $white;
  padding: .5em 1em;
  margin-bottom: 1em;
  p {
    font-family: $display;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0;
  }
}

.m-links {
  font-size: 2em;
  @media (max-width: 600px) {
    font-size: 1.25em;
  }
  a {
    display: block;
    margin-bottom: .5em;
  }
}

.quote-left,
.quote-right {
  width: 40%;
  p {
    font-family: $display;
    color: lighten($default-font-color,25%);
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: .5em;
  }
  @media (max-width: 1200px) {
    
  }
  @media (max-width: 900px) {
    width: 100%;
  }
  @media (max-width: 600px) {
    
  }
}

.quote-left {
  float: left;
  padding-right: 5%;
  margin-left: -15%;
  @media (max-width: 900px) {
    float: none;
    padding-right: 0%;
    margin-left: 0%;
  }
}

.quote-right {
  float: right;
  padding-left: 5%;
  margin-right: -15%;
  @media (max-width: 900px) {
    float: none;
    padding-left: 0%;
    margin-right: 0%;
  }
}

.block-quote {
  margin-bottom: 1em;
  p {
    font-family: $display;
    color: lighten($default-font-color,25%);
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 700;
  }
}