---
title: Shawna Sullivan Writes Things
about: food_stamps
---

<div class="<%= current_page.data.about %>">
  <div class="m-article">
    <div class="m-lead">
    </div>
    <div class="m-content-container">
      <div class="m-content">
        <div class="m-title">
          <h1>Breakdown: The 2014 Food Stamps Cuts</h1>
          <h2>by Shawna Sullivan</h2>
        </div>

        <p>The 2014 Farm Bill, otherwise known as the Agricultural Act of 2014, augmented the &ldquo;Heat and Eat&rdquo; practice of 15 states across the country and the District of Columbia. Heat and Eat utilized a process of linking Supplemental Nutrition Assistance Program (SNAP) [food stamps] eligibility with the Low-Income Home Energy Assistance Program (LIHEAP). The LIHEAP program is administered through the federal Department of Health and Human Services and provides grants to states in order for them to assist low-income households with their energy bills. As of 2009 7.4 million households received LIHEAP and $3.4 billion was appropriated for the program in <a href="http://www.ncsl.org/research/human-services/-heat-and-eat-and-snap-changes-in-the-2014-farm-bill.aspx" target="_blank">fiscal year 2014.</a></p>

        <p><b>How are SNAP benefits determined?</b></p>

        <div class="quote-right">
          <p>&ldquo;a $20 LIHEAP benefit requirement would dramatically strain states’ budgets&rdquo;</p>
        </div>

        <p>There are a few terms you will need to be familiar with in order to understand how these 15 states were impacted. First, at the creation of the SNAP program, Congress wanted to ensure that those individuals with the highest &ldquo;shelter&rdquo; (housing) costs with relation to their income would be targeted. They believed that those households would have the hardest time affording food items. For this reason we have what is called the &ldquo;excess shelter deduction&rdquo;, which works by determining if your shelter costs (rent, taxes, etc) exceed 50% of your monthly income; the higher the difference, the higher the deduction. This excess shelter deduction allows households to receive higher SNAP benefits. Part of these accepted items which determine how large your shelter costs are, is the &ldquo;standard utility allowance&rdquo; or SUA. The SUA is a fixed, statewide dollar amount associated with utility costs and is an average of the state&rsquo;s utility costs which state&rsquo;s may use instead of the individual&rsquo;s actual utility bill. The SUA can often be higher than the utility bill and will result in an increased likelihood of the excess shelter deduction, and thus a higher <a href="http://www.ncsl.org/Portals/1/Documents/cyf/2014FarmBill_LIHEAP.pdf" target="_blank">SNAP benefit.</a></p>

        <p>The Heat and Eat practice works by automatically qualifying any LIHEAP recipient for the SUA and potentially providing them with a higher SNAP benefit. In the 2014 Farm Bill, Congress added in language which requires an individual receive more than $20 in LIHEAP per year in order to qualify for the SUA. Research predicted that this action could impact 850,000 households by reducing their SNAP benefits an average of $90 per month. Additionally, a $20 LIHEAP benefit requirement would dramatically strain states&rsquo; budgets.</p>

        <p><b>States had a few options</b></p>

        <div class="quote-right">
          <p>&ldquo; the loss of the Heat and Eat program has proved devastating for many families receiving SNAP benefits&rdquo;</p>
        </div>

        <p>There were a few options available to states impacted by the changes to Heat and Eat if they wanted to avoid massive cuts to SNAP benefits. Twelve of the 15 states have made efforts to avoid these cuts mostly through bipartisan legislation increasing LIHEAP benefits to $20 and in some cases adding state funds to supplement assistance. This course of action put pressure on state budgets as they were quickly running out of LIHEAP funding to maintain the program. As of 2015 four of the 15 states have not made efforts to save the program: <a href="http://www.nj.com/news/index.ssf/2014/09/food_stamp_cuts_to_only_affect_nj_3_other_states.html." target="_blank">New Jersey, Michigan, Wisconsin, and New Hampshire.</a> Of the four, three have Republican governors who supported the cuts. In New Jersey an estimated that <a href="http://www.nj.com/politics/index.ssf/2014/02/157k_nj_families_to_have_food_stamp_benefits_slashes_report_says.html" target="_blank">157,000 households</a> will be impacted by the loss of Heat and Eat. Michigan has speculated that 170,000 of their households will see a decrease in benefits.</p>

        <p>Overall, the loss of the Heat and Eat program has proved devastating for many families receiving SNAP benefits. This is especially concerning when 49.1 million people in the United States lived in <a href="http://www.ers.usda.gov/publications/err-economic-research-report/err173.aspx" target="_blank">food insecure households in 2013.</a> A $90 reduction in their food budget is something that many can simply not survive on.</p>

      </div>
    </div>
  </div>
</div>